@keyframes dust {
  0% {
    transform: translateX(0) translateY(0) scale(1);
    opacity: 0.6;
  }
  100% {
    transform: translateX(-50px) translateY(-20px) scale(1.3);
    opacity: 0;
  }
}

.dust {
  animation: dust 2s ease-out infinite;
}

@keyframes roadFadeIn {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }
  100% {
    opacity: 0.18;
    transform: translateY(0);
  }
}
.animate-roadFadeIn {
  animation: roadFadeIn 1.6s ease-out forwards;
}

.bg-grid {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.05) 1px,
      transparent 1px
    ),
    linear-gradient(90deg, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
  background-size: 50px 50px;
}
